/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    text-align: center;
    background-color: #7EB270;
    color: dimgray;
    font-family: 'Andika', sans-serif;
    font-size: 18px
}

h1 {
    font-family: 'Amatic SC', cursive;
    color:black;
    font-size: 60px
}

header {
    margin-top:5rem;
    padding: 1rem;
}

#football{
    transition: all .8s;
}
#football:hover{
  transform: scale(1.2) rotate(200deg);
}

.main-container {
    margin-top:3rem;
    padding: 1rem;
    padding-top: 1rem;
    background-color: #C8FFB9;
}

.vidRes{
    padding:1rem;
    background-color: #e8e8e8;
}
#videoResult {
    list-style: outside none none;
}
.thanksSection {
    margin-top: 5rem;
    padding: 1rem;
    background-color: #DCFFD3;
}
.thanksInside{
  display: inline-block;
}

.footballFooter {
  width:40px;
  height:40px;
  transition: all .8s;
}
.footballFooter:hover{
  transform: scale(1.2) rotate(200deg);
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/


/* -------------------------------------


/*iPhone landscape*/
@media only screen and (max-width: 480px) {
    body {
        font-size:15px;
    }
    .footballFooter {
      width:30px;
      height:30px;
    }
}
